body {
  background: url("Sunset.JPG");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  background-size: cover;
}

p {
  background: linear-gradient(orange, red);
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 90px;
}
